

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;

}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  
  list-style: none;
  margin-bottom: 20px;
  
}
ul li {
  
  text-align: center;
  color: black;
  font-size: 10pt;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 14px;
  width: 95%;
  border-radius: 8px;
  padding: 8px;
  transition: all 0.25s ease;
}

ul li:hover {
  transform: translateY(-3%);
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  width: 100vw;
  z-index: -10;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  
}
#formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px;
  background: transparent;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: white;
  padding: 20px;
  width: 75%;
  height: 300px;
  color: black;
  border-radius: 20px;
  
}
#form h1 {
  color: black;
  width: 100%;
  text-align: center;
}
#nome, .subjects {
  display: flex;
  margin-top: 20px;
  width: 90%;
  border: 1px solid darkgray;
  border-radius: 10px;
  padding: 6px;
  padding-left: 12px;
  min-height: 40px;
  font-size: 13px;
  outline-color: #8E97BB;
  color: black;
}
#submit, .typeInfo, .typeEl {
  display: flex;
  margin-top: 30px;
  width: 70%;
  border: none;
  border-radius: 10px;
  padding: 11px;
  font-size: 13px;
  transition: all 0.15s ease;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #021560, #0014C5);
}
#submit:hover {
  border: 3px solid #93A6F1;
}
#text {
  text-align: center;
  padding: 8px;
  margin-top: 25px;
  border-radius: 0px;
  width: 90%;
  background: transparent;
  border-top: 1px solid #001F99;
  color: black;
  font-size: 13px;
}

#process {
  display: flex;
  pointer-events: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  backdrop-filter: blur(50px);
  opacity: 0;
  background: rgba(32, 50, 255, 0.2);
  transition: all .4s ease;
}

#process span {
  height: 180px;
  width: 180px;
  border-left: 5px solid blue;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
}

#calc {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px !important;
  height: auto;
  padding: 20px;
  width: 80vw;
  background: white;
  transform: translateX(120%);
  border-radius: 10px;
  color: black;
  transition: 0.25s ease;
  position: relative;
  
}
#welcome {
  display: none !important;
}
#calc {
  min-height: 20vh !important;
  padding: 8px !important;
  margin-bottom: 20px;
}
#top {
  display: grid;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  align-items: center;
  grid-template-columns: repeat(2, 40%);
  background: linear-gradient(120deg, rgba(2, 21, 96, 1), #0014C5);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}
#top select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  background: transparent;
  border: 1px solid white;
  outline: none;
  border: 1px solid white;
}
#textInfo {
  text-align: center;
  width: 90%;
  padding-bottom: 8px;
  margin-top: 70px;
  border-bottom:1px solid #000;
  color: black;
  font-size: 10pt;
}

#forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}
#forms div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: transparent;
  color: black;
  display: none;
}

#el10, #el11, #info10, #info11 {
  width: 100%;
  border-radius: 15px;
  min-height: 20px;
  
  padding-bottom: 15px;
}

#el10 label, #info10 label, #info11 label, #el11 label {
  color: black;
  font-size: 10pt;
  text-align: left;
  display: flex;
  width: 85%;
  flex-direction: column;
  gap: 5px;
  margin-top: 15px;
}
 
.subjects {
  margin: 0 !important;
  width: 100% !important;
  border-radius: 8px !important;
  transform: translateX(-1%);
}


.typeEl, .typeInfo {
  width: 70% !important;
  
  display: grid !important;
  grid-template-columns: 80% 20px;
  justify-content: center !important;
  align-items: center;
  text-align: center;
}
.typeInfo {
  background: linear-gradient(120deg, rgba(1, 89, 7, 1), rgba(54, 197, 0, 1));
}
.typeInfo:hover {
  border: 3px solid #8EE8B0;
}
.typeEl:hover {
  border: 3px solid #7E91DB;
}

.processB {
  height: 20px;

  background: transparent;
  border-left: 2px solid white;
  border-radius: 50%;
  transition: all 0.4s ease;
  font-size: 14pt;
  animation: rotate 1s infinite linear;
  color: white;
  opacity: 0;
}
.alerta {
  display: flex;
  pointer-events: none;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  height: auto;
  padding: 5px;
  z-index: 10;
  margin-top: 10px;
  opacity: 0;
  transform: translateY(-120%);
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease;
}
.alerta p {
  background: white;
  font-size: 10pt;
  border-radius: 5px;
  width: 90%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
  color: black;
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
  }
  .mais {
    pointer-events: all !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    background: linear-gradient(120deg, rgba(2, 21, 96, 1), #0014C5);
    color: white;
    padding: 4px;
    border-radius: 10px;
    transition: all 0.2s ease;
    
  }
  
  .maisInfo:hover {
    border: 3px solid #8EE8B0 !important;
  }
  .maisEl:hover {
    border: 3px solid #7E91DB !important;
  }
  
  #error {
    position: fixed;
    top: 0;
    
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(80px);
    
    background: rgba(255, 0, 0, 0.1);
    transition: all 0.25s ease;
  }
  #error section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: space-between;
    background: white;
    width: 70%;
    padding: 18px;
    border-radius: 15px;
    color: black;
    flex-direction: column;
    gap: 4px;
  }
  #error section p, #error section h3 {
    display: flex;
    color: black;
    width: 100%;
  }
  #error section h4 {
    color: red !important;
    text-align: center;
    font-size: 15pt;
  }
  #error section p {
    text-align: center;
    font-size: 10pt;
    padding: 8px;
    word-spacing: 3px;
  }
  #error section button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding: 8px;
    width: 80%;
    border-radius: 30px;
    border: 1px solid #0000FF;
    color: blue;
    margin-top: 8px;
    margin-bottom: 16px;
    transition: all 0.15s ease;
  }
  #error section button:hover {
    transform: scale(1.05);
  }
  
  .classific {
    width: 100vw;
    min-height: 100vh;
    display: none;
    position: relative;
    justify-content: center ;
    align-items: center;
    opacity: 0;
    backdrop-filter: blur(0px);
    transition: all 0.25s ease;
  
  }
  .data {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 95%;
    min-height: 90vh;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    border-radius: 15px;
    
    padding: 0px;
    padding-bottom: 18px;
  }
  #titleClassific {
    width: 100%;
    padding: 20px;
    text-align: center;
    background: linear-gradient(120deg, rgba(2, 21, 96, 1), #0014C5);
    margin-bottom: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .data p {
    font-size: 11pt;
    align-items: justify;
    padding: 14px;
    width: 100%;
    color: black;
  }
  .data p h3 {
    color: black !important;
    width: 100%;
    text-align: center;
  }
  b {
    color: black;
    font-weight: 500;
  }
  .data h3 {
    margin-top: 15px;
    color: black;
    font-size: 14pt;
    padding: 15px;
    width: 95%;
    border-radius: 15px;
  
  }
  .spaceDicas {
      background: #F6FCFF;
  }
  #dicas {
    margin-top: 8px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 95%;
    border-radius: 15px;
    
    gap: 8px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 45%);
    
  }
  .dica {
    display: grid;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 8px;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 10pt;
    color: black;
    transition: all 0.25s ease;
  }
  .dica button {
    background: linear-gradient(120deg, rgba(2, 21, 96, 1), #0014C5);
    border-radius: 6px;
    border: none ;
    color: white;
    font-size: 10pt;
    
    padding: 4px;
    width: 55px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
  }
  .dica:hover {
    transform: translateY(-3%);
  }
  
  .dica button:hover {
    border: 0.5px solid #7E91DB;
  }
  .exit {
    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    background: rgba(255, 0, 0, 0.9);
    padding: 10px;
    border-radius: 50%;
    transition: all 0.15s ease;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 20;
    animation: moveTop 1.7s infinite linear;
  }
  
  #exit {
    
    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    background: rgba(255, 0, 0, 0.9);
    padding: 10px;
    border-radius: 50%;
    transition: all 0.15s ease;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 150;
    animation: moveTop 1.7s infinite linear;
  
  }
  
  .exit:hover {
    transform: scale(1.07);
    
}
     #setDica {
      
      transition: all 0.25s ease;
      min-height: 100vh;
      width: 100vw;
      backdrop-filter: blur(50px);
      transform: translate(0%);
      z-index: 50;
      display: none;
      opacity: 0;
      flex-direction: column;
      justify-content: start;
      align-items: center;
    }
    #card {
      background: linear-gradient(to bottom, #ffffff, #eaf2ff);
    
      border-radius: 15px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      text-align: center;
      width: 85%;
      height: auto;
      margin-bottom: 35px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
    }
    #dicaHello {
    
      background: linear-gradient(120deg, rgba(2, 21, 96, 1), #0014C5);
      
      border-top-left-radius: 15px;
      width: 1
      95%;
      border-top-right-radius: 15px;
      padding: 10px;
      font-size: 17pt;
      
    }
    
    #dd {
      width: 95%;
      margin-top: 07px;
      color: black;
      font-size: 10.4pt;
      padding: 20px;
    }
    #newDica {
      display: flex;
      flex-direction: column;
      text-align: justify;
      margin: 0 !important;
      color: black !important;
      font-size: 10pt
      !important;
      width: 95% !important;
      padding: 8px !important;
      margin-top: 8px;
      gap: 8px
    }
    #newDica p {
      display: block;
      text-align: justify;
      color: black;
      width: 100%;
    }
    option {
       color: black;
       border-radius: 10px;
    }
    
@media (min-width: 800px)  {
   #form {
     width: 60%;
   }
   #calc, .alerta p {
     width: 60%;
   }
   .data {
     width: 70%;
   }
   #error section {
     width: 60vw;
   }
   .exit, #exit  {
      width: 60px;
      height: 60px;
   }
   #dicas {
     grid-template-columns: repeat(3, 32%);
   }
   #card {
     width: 70%;
   }
   .alerta p {
     grid-template-columns: 90% 10%;
     width: 75%;
     
   }
}


@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes moveTop {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-6%);
  }
  100% {
    transform: translateY(0%);
  }
}



